* {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: #80A1A1;
  box-sizing: border-box; }

/* ----- Home ----- */
.imagenprincipalmain {
  background-image: url(../assets/doschicasvendeturopa.png);
  height: 300px;
  width: 100%;
  background-size: cover; }

.slidehome {
  display: flex;
  overflow: auto; }
  .slidehome img {
    width: 300px;
    padding: 1rem; }
  .slidehome img:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }

/*-----  Footer -----*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5eeee;
  width: 100%; }
  .footer .footer1 {
    padding: 1rem;
    max-width: 400px;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 20px; }
  .footer .buttons a {
    margin: 100px;
    padding: 0.5rem;
    margin-left: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out; }
  .footer ul {
    list-style: none;
    text-align: center; }

@media (max-width: 500px) {
  .footer {
    background-color: #b5bebe;
    color: black; } }

/*-----  Sobre Juan Perez -----*/
.imagenprincipalmain2chicas {
  background-image: url(../assets/fotmodelo.jpg);
  height: 700px;
  background-size: cover;
  width: 100%; }

.contenedorfundados {
  width: 100%;
  height: auto; }

.chicosjuanperez {
  background-image: url(../assets/chicosobrejp.jpg);
  height: 700px;
  background-size: cover;
  width: 100%; }

.vidrierajp2argentina {
  background-image: url(../assets/VIDRIERAARGENTINA.JPG);
  height: 700px;
  background-size: cover;
  width: 100%; }

/*-----  Vender Ahora -----*/
.imagenprincipalchicarubia {
  background-image: url(../assets/modelorubia.jpg);
  height: 700px;
  background-size: cover;
  width: 100%;
  border: #80A1A1; }

.clientesjp2 {
  background-image: url(../assets/clientes.png);
  height: 150px;
  background-size: cover;
  width: 100%;
  border: #80A1A1; }

p {
  font-size: 16px; }

.consignacion {
  background-image: url(../assets/percheros.jpg);
  height: 700px;
  background-size: cover;
  width: 100%;
  border: #80A1A1; }

/*-----  Nuestra Plataforma -----*/
.imagenprincipalmaincamperaamrillanuestra {
  background-image: url(../assets/campera_amarilla.jpg);
  height: auto;
  background-size: cover;
  width: 100%;
  border: #80A1A1; }

/*-----  Inicio seccion -----*/
.container {
  width: 28%;
  margin: auto;
  background: url(../assets/campera_amarilla.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px 33px 67px;
  border-top: 6px solid #f3eded; }

/*----- cuadros informativos -----*/
.cuadrosinformativo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  color: #181010;
  padding: 0.75rem;
  background-color: #cadddd;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }
