* {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: #80A1A1;
  box-sizing: border-box; }

/* ----- Home ----- */
.imagenprincipalmain {
  background-image: url(../assets/foto_de_2_chicas.jpg);
  height: 300px;
  width: 100%;
  background-size: cover; }

.slidehome {
  display: flex;
  overflow: auto; }
  .slidehome img {
    width: 300px;
    padding: 1rem; }
  .slidehome img:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }

/*-----  Footer -----*/
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .footer .footer1 {
    padding: 2rem; }
  .footer .footer2 {
    padding: 2rem; }
  .footer ul {
    list-style: none;
    text-align: center; }

@media (max-width: 500px) {
  .footer {
    background-color: #d9d6d6; } }

/*-----  Sobre Juan Perez -----*/
.imagenprincipalmain2chicas {
  background-image: url(../assets/fotmodelo.jpg);
  height: 700px;
  width: 100%;
  background-size: cover; }

/*-----  Nuestra Plataforma -----*/
.imagenprincipalmaincamperaamrillanuestra {
  background-image: url(../assets/campera_amarilla.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
  border: #80A1A1; }

/*-----  Inicio seccion -----*/
.container {
  width: 28%;
  margin: auto;
  background: url(../assets/campera_amarilla.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px 33px 67px;
  border-top: 6px solid #f3eded; }

/*----- cuadros informativos -----*/
.cuadrosinformativo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  color: #181010;
  padding: 0.75rem;
  background-color: #cadddd;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif; }
  .cuadrosinformativo h1 {
    background-color: #a9c69e; }
